@if (getStatusLoading()) {
  <app-global-loading></app-global-loading>
} @else {
  <div class="p-6 min-h-screen">
    <!-- Header -->
    <div class="flex justify-between items-center mb-6 gap-3 flex-wrap">
      <h1 class="text-2xl font-bold text-gray-800 flex items-center gap-2">
        <i class="fas fa-tags text-blue-500"></i> Status
      </h1>

      <div class="md:grow w-full md:w-fit flex items-center md:justify-end gap-3 flex-wrap">
        <button
          (click)="openCreateModal()"
          class="bg-blue-500 md:w-fit w-full justify-center hover:bg-blue-600 text-white px-5 py-2 rounded cursor-pointer font-semibold flex items-center gap-2"
        >
          <i class="fas fa-plus"></i> Add status
        </button>
        <div class="w-full md:w-1/4">
          <input
          [(ngModel)]="searchTerm"
            placeholder="Search Here...."
            type="search"
            class="w-full border block border-gray-300 rounded px-3 py-2 focus:ring-2 focus:ring-blue-600 outline-none"
          />
        </div>
      </div>
    </div>

    <!-- Table -->
    <div class="relative overflow-x-auto shadow-md rounded">
      <table class="w-full text-sm text-center">
        <thead class="text-center">
          <tr class="text-white bg-blue-600">
            <th class="px-4 py-2">ID</th>
            <th class="px-4 py-2">Name</th>
            <th class="px-4 py-2">Active</th>
            <th class="px-4 py-2">Actions</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
          @for (status of statusList | searchStatus : searchTerm ; track $index) {
            <tr class="text-gray-600">
              <td class="px-4 py-2">{{ status.statusId }}</td>
              <td class="px-4 py-2">{{ status.statusName }}</td>
              <td class="px-4 py-2">
                <span
                  (click)="toggleActive(status)"
                  class="cursor-pointer px-3 py-1 rounded-full text-white"
                  [ngClass]="status.isActive ? 'bg-green-500' : 'bg-red-500'"
                >
                  {{ status.isActive ? 'Active' : 'Inactive' }}
                </span>
              </td>
              <td class="px-4 py-2 flex justify-center gap-2">
                <button
                  (click)="openEditModal(status)"
                  class="bg-yellow-400 hover:bg-yellow-500 cursor-pointer text-white px-3 py-1 rounded-lg flex items-center gap-1"
                >
                  <i class="fas fa-edit"></i> Edit
                </button>
                <button
                  (click)="deleteStatus(status.statusId)"
                  class="bg-red-500 cursor-pointer hover:bg-red-600 text-white px-3 py-1 rounded-lg flex items-center gap-1"
                >
                  <i class="fas fa-trash"></i> Delete
                </button>
              </td>
            </tr>
          }@empty {
             <tr>
                <td colspan="6" class="px-6 py-4 text-center font-semibold text-xl text-red-500">Not Found Data</td>
            </tr>
          }
        </tbody>
      </table>
    </div>

    <!-- Modal Form -->
    @if (isModalOpen()) {
      <div class="fixed inset-0 bg-black/50 bg-opacity-30 flex items-center justify-center z-50">
        <div class="bg-white rounded p-6 md:w-1/2 w-[90%] shadow-xl">
          <h2 class="text-xl font-bold mb-4 flex items-center gap-2">
            <i
              class="fas"
              [ngClass]="isEditMode ? 'fa-edit text-yellow-500' : 'fa-plus text-green-500'"
            ></i>
            {{ isEditMode ? 'Update status' : 'Add status' }}
          </h2>

          <form [formGroup]="statusForm" (ngSubmit)="saveStatus()" class="space-y-4">
            <div class="flex flex-col">
              <label class="font-medium mb-1">status Name</label>
              <input
                type="text"
                formControlName="statusName"
                class="border rounded px-3 py-2 focus:ring-2 focus:ring-blue-400 outline-none"
              />
            </div>

            <div class="flex items-center gap-2">
              <input
                type="checkbox"
                formControlName="isActive"
                id="isActive"
                class="h-5 w-5 cursor-pointer"
              />
              <label for="isActive" class="text-gray-700">Active</label>
            </div>

            <div class="flex justify-end gap-3 mt-4">
              <button
                type="button"
                (click)="isModalOpen.set(false)"
                class="px-5 py-2 cursor-pointer rounded border hover:bg-gray-100 transition"
              >
                Cancel
              </button>

              <button
                type="submit"
                [disabled]="statusForm.invalid"
                class="px-6 py-2 cursor-pointer rounded bg-blue-500 text-white hover:bg-blue-600 flex items-center gap-2"
              >
                <i class="fas fa-save"></i>
                @if (isEditMode == true) {
                  @if (updateStatusLoading()) {
                    Loading...
                  } @else {
                    Update
                  }
                } @else {
                  @if (createStatusLoading()) {
                    Loading...
                  } @else {
                    Add
                  }
                }
              </button>
            </div>
          </form>
        </div>
      </div>
    }
  </div>
}
